.box {
  color: aliceblue;
  font-size: 30px;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5px;
}

.box1 {
  background: #1abc9c;
}
.box2 {
  background: #3498db;
}
.box3 {
  background: #9b59b6;
}
.box4 {
  background: #34495e;
}
.box5 {
  background: #f1c40f;
}
.cssContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 10px solid goldenrod;
}

.box {
  flex: 1 1 150px;
}

@media all and (max-width: 1000px) {
  .cssContainer div {
    flex-basis: 50%;
  }
}

@media all and (max-width: 500px) {
  .cssContainer div {
    flex-basis: 100%;
  }
}
